.style1{
    color: tomato;
    font-size: 3rem;
}

.style2{
    font-style: italic;
}

.div-style{
    height: 250px;
    width: 800px;
    margin-top: 20px;
    padding: 10px;
    background-color: cyan;
}